<template>
  <div class="random_quote">
    <h1>Quote of this moment</h1>
    <div>
      <div v-if="!isApiAvailable" class="error">
        Could not fetch quotes
      </div>
      <UsernameInput />
      <div class="header">
        <span>{{quote.author}}</span>
        <span v-on:click="fetchRandomQuote" class="nextQuote">Next Quote</span>
      </div>
      <Quote :quote="quote"/>
      <QuoteRates :quote="quote"></QuoteRates>
    </div>
  </div>
</template>

<script>
import Quote from '@/components/Quote.vue';
import UsernameInput from '@/components/Username.vue';
import QuoteRates from '@/components/QuoteRates.vue';
import { mapActions } from 'vuex';

export default {
  name: 'RandomQuote',
  components: {
    Quote,
    QuoteRates,
    UsernameInput,
  },
  methods: {
    ...mapActions([
      'fetchRandomQuote',
    ]),
  },
  computed: {
    quote() {
      return this.$store.getters.currentQuote;
    },
    isApiAvailable() {
      return this.$store.getters.isApiAvailable;
    },
  },
  created() {
    this.fetchRandomQuote();
  },
};
</script>

<style scoped>
.random_quote {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.error {
  color: red;
}
.header {
  display:flex;
  align-items: center;
  justify-content:space-around;
  justify-items: center;
  background-color: lightgray;
  padding: 5px;
  border: 1px solid black;
  border-bottom: 0px solid black;
}
.nextQuote {
  cursor: pointer;
  font-weight: bold;
}
</style>
