<template>
  <div>
    <div v-if="!quoteRates || quoteRates.length === 0">No rates found for {{ quote.author }}</div>
    <div v-else>
      <h3>Rating for the quote of {{ quote.author }}</h3>
        <div class="ratingContainer">
          <div>
            <span>Username</span>
            <span>Rating</span>
          </div>
          <div v-for="rate in quoteRates" v-bind:key="rate.key">
            <span>{{ rate.username }}</span>
            <span>{{ rate.rating }}</span>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'QuoteRate',
  data() {
    return {};
  },
  props: ['quote'],
  computed: {
    ...mapGetters({
      quoteRates: 'getQuoteRates',
    }),
  },
  methods: {
    ...mapActions([
      'getQuoteRates',
    ]),
  },
  watch: {
    quote(newQuote, oldQuote) {
      if (newQuote.id !== oldQuote.id) {
        this.getQuoteRates(newQuote.id);
      }
    },
  },
};
</script>

<style scoped>
.ratingContainer {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}
.ratingContainer div span{
  display: inline-block;
  width: 200px;
}
</style>
