<template>
  <div class="quoteContainer">
    <div>
      <div class="quote">
        {{ quote.quote }}
      </div>
      <div>Author: {{ quote.author }}</div>
      <div v-if="quote.average_rating">
        Rating: {{ quote.average_rating }} with {{ quote.number_of_rates }}
      </div>
      <div>
        <a :href="quote.link" target="_blank"><i class="fa fa-external-link"></i>link</a>
      </div>
      <Rate />
    </div>
  </div>
</template>

<script>
import Rate from '@/components/Rate.vue';

export default {
  name: 'Quote',
  components: {
    Rate,
  },
  props: ['quote'],
};
</script>

<style scoped>
.quoteContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 600px;
  height: 200px;
  border: 1px solid black;
}
.quote {
  margin: 20px;
}
</style>
