<template>
  <div class="rateRow" v-if="!username">
    Please login to rate
  </div>
  <div v-else>
    <div>
      <span>Rate: </span>
      <input type="number" max="5" min="0" v-model='rate' v-on:blur="addRate"/>
    </div>
    <div class="error" v-if="errorSubmitting">
      Error submitting rate, please rate between 0 and 5
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Rate',
  data() {
    return {
      rate: null,
      errorSubmitting: false,
    };
  },
  computed: {
    ...mapGetters({
      username: 'getUsername',
      quote: 'currentQuote',
    }),
  },
  watch: {
    quote(newQuote, oldQuote) {
      if (newQuote.id !== oldQuote.id) {
        this.rate = null;
      }
    },
  },
  methods: {
    ...mapActions([
      'setRate',
    ]),
    addRate() {
      this.errorSubmitting = false;
      this.setRate(this.rate).catch(() => {
        this.errorSubmitting = true;
      });
    },
  },
};
</script>

<style scoped>
.error {
  color:red;
  font-weight: bold;
  padding:10px;
}
</style>
