<template>
  <div class="usernameRow">
    <div v-if="!hideInput">
      <span>Please provide username: </span>
      <input type="input" v-model="currentUsername" v-on:blur="hideInputOnUsername"/>
    </div>
  <div v-else v-on:click="changeUsername">
    <span>Welcome {{ currentUsername }}! (Click to edit)</span>
  </div>
  </div>
</template>

<script>
export default {
  name: 'UsernameInput',
  data() {
    return {
      hideInput: false,
      currentUsername: '',
    };
  },
  methods: {
    hideInputOnUsername() {
      if (this.currentUsername) {
        this.$store.commit('setUsername', this.currentUsername);
        this.hideInput = true;
      }
    },
    changeUsername() {
      this.hideInput = false;
    },
  },
};
</script>

<style scoped>
.usernameRow {
  padding: 5px;
  display: flex;
  justify-content:space-around;

}
</style>
